<div class="demo-page-nav-item">
    <a role="button" class="btn btn-secondary" href="{{ widget_config.base_path }}/widgets/demos">
        Home
    </a>
</div>
<div class="demo-page-nav-item">
    <a  class="btn btn-secondary" role="button" href="{{ widget_config.base_path }}/widgets/demos?demo=media-viewer-js">
        Media Viewer - JS
    </a>
</div>
<div class="demo-page-nav-item"> 
    <a class="btn btn-secondary"  href="{{ widget_config.base_path }}/widgets/demos?demo=media-viewer-py">
        Media Viewer - Python
    </a>
</div>