.demo-page {
    display: flex;
    flex-direction: row;
}

.demo-page-nav-column {
    display: block;
    flex: 0 0 auto;
    padding: 0.5rem;
}

.demo-page-nav-column .btn {
    width: 100%;
}

/* .demo-page-nav-item {
    margin-bottom: 1rem;
} */

.demo-page-content-column {
    display: block;
    flex: 1 1 0;
}


/* .demo-page-nav-column .btn {
    width: 100%;
} */

.demo-page-nav-item {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo-page-nav-item > a.btn {
    flex: 1 1 0;
}

.demo-page-nav-item > i {
    margin-left: 0.5rem;
    flex: 0 0 auto;
}

/* Let us keep text on the about tab from getting uncomfortably wide */
#about p {
    max-width: 50rem;
}